@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@300;400;500&family=Roboto:ital,wght@0,100;0,300;0,400;1,400&family=Source+Sans+Pro&display=swap');

:root {
    --main-color: "#efefef";

}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open sans", sans-serif;
    font-size: 14px;
}

input,
select,
textarea {
    box-shadow: none !important;
}